# Introduction to Scikit-Learn(sklearn)

In [5]:
#We shall be dealing with some of the most beautiful functions of the Scikit learn library.
#we are going to cover--
what_to_cover=['0.an end to end scikit workflow',
'1.getting our data ready',
'2.Choose the right estimator(model) for our problems.',
'3.Fit the model/estimator to our data to make predictions.',
'4.Evaluate our model.',
'5.Improve our Model through experimentation.',
'6.Save and load a trained model.',
'7.Put it all together!']

In [7]:
what_to_cover

['0.an end to end scikit workflow',
 '1.getting our data ready',
 '2.Choose the right estimator(model) for our problems.',
 '3.Fit the model/estimator to our data to make predictions.',
 '4.Evaluate our model.',
 '5.Improve our Model through experimentation.',
 '6.Save and load a trained model.',
 '7.Put it all together!']

In [8]:
# Standard Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# 0.An end to end scikit workflow

In [9]:
#1. Get the data ready
import pandas as pd
import numpy as np
heart_disease=pd.read_csv('https://raw.githubusercontent.com/mrdbourke/zero-to-mastery-ml/master/data/heart-disease.csv')
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [10]:
#Create X which is features matrix
X= heart_disease.drop('target',axis=1)
#Create Y which is label matrix
Y= heart_disease['target']

In [11]:
#2. Choose the right model and hyperparameters
from sklearn.ensemble import RandomForestClassifier
clf =RandomForestClassifier(n_estimators=100)

#We will keep the default hyperparameters
clf.get_params()

{'bootstrap': True,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [12]:

sklearn.show_versions()

NameError: name 'sklearn' is not defined

In [ ]:
#3. Fit the Model to the traning data
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2)

In [ ]:
clf.fit(X_train,Y_train)

In [ ]:
#make a prediction
Y_label=clf.predict(np.array([1,2,3,4]))

In [ ]:
Y_preds=clf.predict(X_test)
Y_preds

In [ ]:
Y_test

In [ ]:
#4. Evaluate the Model on the training data and the test data
clf.score(X_train,Y_train)

In [ ]:
clf.score(X_test,Y_test)

In [ ]:
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score
print(classification_report(Y_test,Y_preds))

In [ ]:
confusion_matrix(Y_test,Y_preds)

In [ ]:
accuracy_score(Y_test,Y_preds)

In [ ]:
#5. Improve your Model
#Try different types of hyperparameters(n_estimators)
np.random.seed(100)
for i in range(10,100,10):
    print(f'Trying model with {i} estimators')
    clf=RandomForestClassifier(n_estimators=i).fit(X_train,Y_train)
    print(f'Model accuracy on test set: {clf.score(X_test,Y_test)*100}')
    print('')

In [ ]:
#6. save a model and load it
import pickle

pickle.dump(clf,open('heart-disease-prediction-using-random-forest.pkl','wb'))

In [ ]:
loaded_model=pickle.load(open('heart-disease-prediction-using-random-forest.pkl','rb'))
loaded_model.score(X_test,Y_test)

## 1.getting our data ready for machine learning

3 main things which we have to do--
  1. Split the data into features and labels(usually 'X' and 'y')
  2. Filling(imputing) or disregarding missing values.
  3. Converting non-numerical values to numerical values(featuring values)

In [ ]:
heart_disease.head()

In [ ]:
X=heart_disease.drop('target',axis=1)
X.head()

In [ ]:
Y=heart_disease['target']
Y.head()

In [ ]:
#Split the data into traning and test data set
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2)

In [ ]:
X_train

In [ ]:
Y_train

In [ ]:
X_train.shape,X_test.shape,Y_train.shape,Y_test.shape

In [ ]:
X.shape

In [ ]:
car_sales=pd.read_csv('car-sales-extended.csv')
car_sales

In [ ]:
len(car_sales)

In [ ]:
car_sales.head()

In [ ]:
car_sales.dtypes

In [ ]:
# Split the data into X and Y which is the feature and target labels
X=car_sales.drop('Price',axis=1)
Y=car_sales['Price']

#Split the data into test and training data
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2)

In [ ]:
#Build Machine Learning Model
from sklearn.ensemble import RandomForestRegressor
model=RandomForestRegressor()
model.fit(X_train,Y_train)
model.score(X_test,Y_test)

In [ ]:
car_sales.head()

In [ ]:
car_sales["Doors"].value_counts()

In [ ]:
from sklearn.preprocessing import OneHotEncoder #turn the categories into numbers
from sklearn.compose import ColumnTransformer

categorical_features=['Make',"Colour","Doors"]
one_hot=OneHotEncoder()
transformer=ColumnTransformer([('one_hot',one_hot,categorical_features)],remainder="passthrough")
transformed_X=transformer.fit_transform(X)
transformed_X

In [ ]:
pd.DataFrame(transformed_X)

In [ ]:
dummies=pd.get_dummies(car_sales[["Make","Colour","Doors"]])
dummies

In [ ]:
# Since now our data is all in 0s and 1s so let's try and refit our model
np.random.seed(23)
X_train,X_test,Y_train,Y_test=train_test_split(transformed_X,Y,test_size=0.2)
model.fit(X_train,Y_train)
model.fit(X_test,Y_test)
model.score(X_test,Y_test)

## 2.What if there were some missing values?

In [ ]:
#1. Fill them with some values(imputations).
#2. Remove all the data associated with missing data alltogether.

In [ ]:
car_sales_missing=pd.read_csv('car-sales-extended-missing-data.csv')
car_sales_missing.head()

In [ ]:
car_sales_missing.isna().sum()

In [ ]:
#Create X and Y
X=car_sales_missing.drop('Price',axis=1)
Y=car_sales_missing['Price']
X

In [ ]:
#Let's try and convert our data in numbers
from sklearn.preprocessing import OneHotEncoder #turn the categories into numbers
from sklearn.compose import ColumnTransformer

categorical_features=['Make',"Colour","Doors"]
one_hot=OneHotEncoder()
transformer=ColumnTransformer([('one_hot',one_hot,categorical_features)],remainder="passthrough")
transformed_X=transformer.fit_transform(X)
transformed_X

In [ ]:
car_sales_missing

### Fill missing data with Pandas(Option 1)

In [ ]:
#Fill the Make Column
car_sales_missing["Make"].fillna('missing',inplace=True)

#Fill the Colour Column
car_sales_missing["Colour"].fillna('missing',inplace=True)

#Fill the Odometer Column
car_sales_missing["Odometer (KM)"].fillna(car_sales_missing['Odometer (KM)'].mean(),inplace=True)

#Fill the Doors Column
car_sales_missing["Doors"].fillna(4,inplace=True)

In [ ]:
#Let's check our Dataframe again
car_sales_missing.isna().sum()

In [ ]:
# Remove rows with missing Price value
car_sales_missing.dropna(inplace=True)

In [ ]:
car_sales_missing.isna().sum()

In [ ]:
len(car_sales_missing)

In [ ]:
X=car_sales_missing.drop("Price",axis=1)
Y=car_sales_missing["Price"]

In [ ]:
#Let's try and convert our data to numbers
from sklearn.preprocessing import OneHotEncoder #turn the categories into numbers
from sklearn.compose import ColumnTransformer

categorical_features=['Make',"Colour","Doors"]
one_hot=OneHotEncoder()
transformer=ColumnTransformer([('one_hot',one_hot,categorical_features)],remainder="passthrough")
transformed_X=transformer.fit_transform(car_sales_missing)
transformed_X

### 2. Fill Missing values with Scikit Learn

In [16]:
car_sales_missing=pd.read_csv('car-sales-extended-missing-data.csv')
car_sales_missing

       Make Colour  Odometer (KM)  Doors    Price
0     Honda  White        35431.0    4.0  15323.0
1       BMW   Blue       192714.0    5.0  19943.0
2     Honda  White        84714.0    4.0  28343.0
3    Toyota  White       154365.0    4.0  13434.0
4    Nissan   Blue       181577.0    3.0  14043.0
..      ...    ...            ...    ...      ...
995  Toyota  Black        35820.0    4.0  32042.0
996     NaN  White       155144.0    3.0   5716.0
997  Nissan   Blue        66604.0    4.0  31570.0
998   Honda  White       215883.0    4.0   4001.0
999  Toyota   Blue       248360.0    4.0  12732.0

[1000 rows x 5 columns]

In [17]:
car_sales_missing.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [18]:
car_sales_missing.dropna(subset=['Price'],inplace=True)
car_sales_missing.isna().sum()

Make             47
Colour           46
Odometer (KM)    48
Doors            47
Price             0
dtype: int64

In [19]:
# Split into X and y
X=car_sales_missing.drop('Price',axis=1)
y=car_sales_missing["Price"]

#Split into training and test set
from sklearn.model_selection import train_test_split
np.random.seed(24)
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [23]:
#Fill missing values with Scikit Learn
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

#Fill categorical values with missing and numerical value with mean
cat_imputer=SimpleImputer(strategy='constant',fill_value='missing')
door_imputer=SimpleImputer(strategy='constant',fill_value=4)
num_imputer=SimpleImputer(strategy='mean')

#Define Columnns
cat_features=["Make","Colour"]
door_features=["Doors"]
num_features=["Odometer (KM)"]

#Create an Imputer which fills in missing values
imputer=ColumnTransformer([
    ('cat_imputer',cat_imputer,cat_features),
    ('door_imputer',door_imputer,door_features),
    ('num_imputer',num_imputer,num_features)
    ])

#Transform the data
filled_X_train=imputer.fit_transform(X_train)
filled_X_test=imputer.transform(X_test)

filled_X_train

array([['Nissan', 'White', 4.0, 24420.0],
       ['Nissan', 'missing', 3.0, 39639.0],
       ['Nissan', 'Blue', 4.0, 180739.0],
       ...,
       ['Honda', 'Blue', 4.0, 78153.0],
       ['BMW', 'Red', 5.0, 156064.0],
       ['Honda', 'Red', 4.0, 169579.0]], dtype=object)

In [24]:
# Get our transformed data array's back into DataFrame's
car_sales_filled_train = pd.DataFrame(filled_X_train, 
                                      columns=["Make", "Colour", "Doors", "Odometer (KM)"])

car_sales_filled_test = pd.DataFrame(filled_X_test, 
                                     columns=["Make", "Colour", "Doors", "Odometer (KM)"])

# Check missing data in training set
car_sales_filled_train.isna().sum()

Make             0
Colour           0
Doors            0
Odometer (KM)    0
dtype: int64

In [25]:
# Import OneHotEncoder class from sklearn
from sklearn.preprocessing import OneHotEncoder

# Now let's one hot encode the features with the same code as before 
categorical_features = ["Make", "Colour", "Doors"]
one_hot = OneHotEncoder()
transformer = ColumnTransformer([("one_hot", 
                                 one_hot, 
                                 categorical_features)],
                                 remainder="passthrough")

# Fill train and test values separately
transformed_X_train = transformer.fit_transform(car_sales_filled_train)
transformed_X_test = transformer.transform(car_sales_filled_test)

# Check transformed and filled X_train
transformed_X_train.toarray()

array([[0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.44200e+04],
       [0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 0.00000e+00,
        0.00000e+00, 3.96390e+04],
       [0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 1.80739e+05],
       ...,
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 7.81530e+04],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        1.00000e+00, 1.56064e+05],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 1.69579e+05]])

In [40]:
#now lets fit our data to our model
np.random.seed(34)

from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

model=RandomForestRegressor()

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

model.fit(transformed_X_train,y_train)
model.fit(transformed_X_test,y_test)
model.score(transformed_X_test,y_test)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

0.7324475078936211

In [43]:
len(car_sales_filled_test),len(car_sales_filled_train)

(190, 760)

In [44]:
what_to_cover

['0.an end to end scikit workflow',
 '1.getting our data ready',
 '2.Choose the right estimator(model) for our problems.',
 '3.Fit the model/estimator to our data to make predictions.',
 '4.Evaluate our model.',
 '5.Improve our Model through experimentation.',
 '6.Save and load a trained model.',
 '7.Put it all together!']

##  2.Choosing the right estimator/algorithm for our problem
Scikit learn uses estimator in place of machine learning model or algorithm.
* Classification
* Regression

### 2.1 Picking a machine learning model for our regression model

In [46]:
#Import boston housing dataset
from sklearn.datasets import load_boston
boston=load_boston()
boston

{'data': array([[6.3200e-03, 1.8000e+01, 2.3100e+00, ..., 1.5300e+01, 3.9690e+02,
         4.9800e+00],
        [2.7310e-02, 0.0000e+00, 7.0700e+00, ..., 1.7800e+01, 3.9690e+02,
         9.1400e+00],
        [2.7290e-02, 0.0000e+00, 7.0700e+00, ..., 1.7800e+01, 3.9283e+02,
         4.0300e+00],
        ...,
        [6.0760e-02, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9690e+02,
         5.6400e+00],
        [1.0959e-01, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9345e+02,
         6.4800e+00],
        [4.7410e-02, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9690e+02,
         7.8800e+00]]),
 'target': array([24. , 21.6, 34.7, 33.4, 36.2, 28.7, 22.9, 27.1, 16.5, 18.9, 15. ,
        18.9, 21.7, 20.4, 18.2, 19.9, 23.1, 17.5, 20.2, 18.2, 13.6, 19.6,
        15.2, 14.5, 15.6, 13.9, 16.6, 14.8, 18.4, 21. , 12.7, 14.5, 13.2,
        13.1, 13.5, 18.9, 20. , 21. , 24.7, 30.8, 34.9, 26.6, 25.3, 24.7,
        21.2, 19.3, 20. , 16.6, 14.4, 19.4, 19.7, 20.5, 25. , 23.4, 18.9,
        35.4, 24.7, 31.6, 23.3, 19.6, 18.7, 16. , 22.2, 25. , 33. , 23.5,
        19.4, 22. , 17.4, 20.9, 24.2, 21.7, 22.8, 23.4, 24.1, 21.4, 20. ,
        20.8, 21.2, 20.3, 28. , 23.9, 24.8, 22.9, 23.9, 26.6, 22.5, 22.2,
        23.6, 28.7, 22.6, 22. , 22.9, 25. , 20.6, 28.4, 21.4, 38.7, 43.8,
        33.2, 27.5, 26.5, 18.6, 19.3, 20.1, 19.5, 19.5, 20.4, 19.8, 19.4,
        21.7, 22.8, 18.8, 18.7, 18.5, 18.3, 21.2, 19.2, 20.4, 19.3, 22. ,
        20.3, 20.5, 17.3, 18.8, 21.4, 15.7, 16.2, 18. , 14.3, 19.2, 19.6,
        23. , 18.4, 15.6, 18.1, 17.4, 17.1, 13.3, 17.8, 14. , 14.4, 13.4,
        15.6, 11.8, 13.8, 15.6, 14.6, 17.8, 15.4, 21.5, 19.6, 15.3, 19.4,
        17. , 15.6, 13.1, 41.3, 24.3, 23.3, 27. , 50. , 50. , 50. , 22.7,
        25. , 50. , 23.8, 23.8, 22.3, 17.4, 19.1, 23.1, 23.6, 22.6, 29.4,
        23.2, 24.6, 29.9, 37.2, 39.8, 36.2, 37.9, 32.5, 26.4, 29.6, 50. ,
        32. , 29.8, 34.9, 37. , 30.5, 36.4, 31.1, 29.1, 50. , 33.3, 30.3,
        34.6, 34.9, 32.9, 24.1, 42.3, 48.5, 50. , 22.6, 24.4, 22.5, 24.4,
        20. , 21.7, 19.3, 22.4, 28.1, 23.7, 25. , 23.3, 28.7, 21.5, 23. ,
        26.7, 21.7, 27.5, 30.1, 44.8, 50. , 37.6, 31.6, 46.7, 31.5, 24.3,
        31.7, 41.7, 48.3, 29. , 24. , 25.1, 31.5, 23.7, 23.3, 22. , 20.1,
        22.2, 23.7, 17.6, 18.5, 24.3, 20.5, 24.5, 26.2, 24.4, 24.8, 29.6,
        42.8, 21.9, 20.9, 44. , 50. , 36. , 30.1, 33.8, 43.1, 48.8, 31. ,
        36.5, 22.8, 30.7, 50. , 43.5, 20.7, 21.1, 25.2, 24.4, 35.2, 32.4,
        32. , 33.2, 33.1, 29.1, 35.1, 45.4, 35.4, 46. , 50. , 32.2, 22. ,
        20.1, 23.2, 22.3, 24.8, 28.5, 37.3, 27.9, 23.9, 21.7, 28.6, 27.1,
        20.3, 22.5, 29. , 24.8, 22. , 26.4, 33.1, 36.1, 28.4, 33.4, 28.2,
        22.8, 20.3, 16.1, 22.1, 19.4, 21.6, 23.8, 16.2, 17.8, 19.8, 23.1,
        21. , 23.8, 23.1, 20.4, 18.5, 25. , 24.6, 23. , 22.2, 19.3, 22.6,
        19.8, 17.1, 19.4, 22.2, 20.7, 21.1, 19.5, 18.5, 20.6, 19. , 18.7,
        32.7, 16.5, 23.9, 31.2, 17.5, 17.2, 23.1, 24.5, 26.6, 22.9, 24.1,
        18.6, 30.1, 18.2, 20.6, 17.8, 21.7, 22.7, 22.6, 25. , 19.9, 20.8,
        16.8, 21.9, 27.5, 21.9, 23.1, 50. , 50. , 50. , 50. , 50. , 13.8,
        13.8, 15. , 13.9, 13.3, 13.1, 10.2, 10.4, 10.9, 11.3, 12.3,  8.8,
         7.2, 10.5,  7.4, 10.2, 11.5, 15.1, 23.2,  9.7, 13.8, 12.7, 13.1,
        12.5,  8.5,  5. ,  6.3,  5.6,  7.2, 12.1,  8.3,  8.5,  5. , 11.9,
        27.9, 17.2, 27.5, 15. , 17.2, 17.9, 16.3,  7. ,  7.2,  7.5, 10.4,
         8.8,  8.4, 16.7, 14.2, 20.8, 13.4, 11.7,  8.3, 10.2, 10.9, 11. ,
         9.5, 14.5, 14.1, 16.1, 14.3, 11.7, 13.4,  9.6,  8.7,  8.4, 12.8,
        10.5, 17.1, 18.4, 15.4, 10.8, 11.8, 14.9, 12.6, 14.1, 13. , 13.4,
        15.2, 16.1, 17.8, 14.9, 14.1, 12.7, 13.5, 14.9, 20. , 16.4, 17.7,
        19.5, 20.2, 21.4, 19.9, 19. , 19.1, 19.1, 20.1, 19.9, 19.6, 23.2,
        29.8, 13.8, 13.3, 16.7, 12. , 14.6, 21.4, 23. , 23.7, 25. , 21.8,
        20.6, 21.2, 19.1, 20.6, 15.2,  7. ,  8.1, 13.6, 20.1, 21.8, 24.5,
        23.1, 19.7, 18.3, 21.2, 17.5, 16.8, 22.4, 20.6, 23.9, 22. , 11.9]),
 'feature_names': array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
        'TAX', 'PTRATIO', 'B', 'LSTAT'], dtype='<U7'),
 'DESCR': ".. _boston_dataset:\n\nBoston house prices dataset\n---------------------------\n\n**Data Set Characteristics:**  \n\n    :Number of Instances: 506 \n\n    :Number of Attributes: 13 numeric/categorical predictive. Median Value (attribute 14) is usually the target.\n\n    :Attribute Information (in order):\n        - CRIM     per capita crime rate by town\n        - ZN       proportion of residential land zoned for lots over 25,000 sq.ft.\n        - INDUS    proportion of non-retail business acres per town\n        - CHAS     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)\n        - NOX      nitric oxides concentration (parts per 10 million)\n        - RM       average number of rooms per dwelling\n        - AGE      proportion of owner-occupied units built prior to 1940\n        - DIS      weighted distances to five Boston employment centres\n        - RAD      index of accessibility to radial highways\n        - TAX      full-value property-tax rate per $10,000\n        - PTRATIO  pupil-teacher ratio by town\n        - B        1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town\n        - LSTAT    % lower status of the population\n        - MEDV     Median value of owner-occupied homes in $1000's\n\n    :Missing Attribute Values: None\n\n    :Creator: Harrison, D. and Rubinfeld, D.L.\n\nThis is a copy of UCI ML housing dataset.\nhttps://archive.ics.uci.edu/ml/machine-learning-databases/housing/\n\n\nThis dataset was taken from the StatLib library which is maintained at Carnegie Mellon University.\n\nThe Boston house-price data of Harrison, D. and Rubinfeld, D.L. 'Hedonic\nprices and the demand for clean air', J. Environ. Economics & Management,\nvol.5, 81-102, 1978.   Used in Belsley, Kuh & Welsch, 'Regression diagnostics\n...', Wiley, 1980.   N.B. Various transformations are used in the table on\npages 244-261 of the latter.\n\nThe Boston house-price data has been used in many machine learning papers that address regression\nproblems.   \n     \n.. topic:: References\n\n   - Belsley, Kuh & Welsch, 'Regression diagnostics: Identifying Influential Data and Sources of Collinearity', Wiley, 1980. 244-261.\n   - Quinlan,R. (1993). Combining Instance-Based and Model-Based Learning. In Proceedings on the Tenth International Conference of Machine Learning, 236-243, University of Massachusetts, Amherst. Morgan Kaufmann.\n",
 'filename': 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\sklearn\\datasets\\data\\boston_house_prices.csv'}

In [51]:
boston_df=pd.DataFrame(boston["data"],columns=boston["feature_names"])
boston_df['target']=pd.Series(boston['target'])
boston_df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,target
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [52]:
#How many samples?
len(boston_df)

506

In [61]:
#Let's try the ridge regression model
from sklearn.linear_model import Ridge

#Setup random seed
np.random.seed(42)

#Create the data
X=boston_df.drop('target',axis=1)
y=boston_df['target']

#Split into training and test data sets
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

#Instantiate the Ridge Model
model=Ridge()
model.fit(X_train,y_train)

#Check the score of ridge model on test data
model.score(X_test,y_test)

0.6662221670168522

In [66]:
#How do we improve the accuracy of our model?
for i in range(10):
    model=Ridge(alpha=i/10)
    model.fit(X_train,y_train)
    a= model.score(X_test,y_test)
    
    print(f'The accuracy of our model for alpha={i/10} is {a}')

The accuracy of our model for alpha=0.0 is 0.6687594935356321
The accuracy of our model for alpha=0.1 is 0.6686244122021411
The accuracy of our model for alpha=0.2 is 0.6684099147162998
The accuracy of our model for alpha=0.3 is 0.6681510173891257
The accuracy of our model for alpha=0.4 is 0.6678697515157483
The accuracy of our model for alpha=0.5 is 0.6675800871276227
The accuracy of our model for alpha=0.6 is 0.6672908867953473
The accuracy of our model for alpha=0.7 is 0.6670077239146512
The accuracy of our model for alpha=0.8 is 0.6667340269537587
The accuracy of our model for alpha=0.9 is 0.6664718132240558

How do we improve this score?

What if our model was not working upto the mark?

Head back to the map for more information-- https://scikit-learn.org/stable/tutorial/machine_learning_map/index.html

In [67]:
#Let's try the RandomForest regression model
from sklearn.ensemble import RandomForestRegressor

#Setup random seed
np.random.seed(42)

#Create the data
X=boston_df.drop('target',axis=1)
y=boston_df['target']

#Split into training and test data sets
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

#Instantiate the Ridge Model
model=RandomForestRegressor()
model.fit(X_train,y_train)

#Check the score of ridge model on test data
model.score(X_test,y_test)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

0.8477414419760558

In [70]:
#How do we improve the accuracy of our model?
np.random.seed(23)
for i in range(10,100,10):
    model=RandomForestRegressor(n_estimators=i)
    model.fit(X_train,y_train)
    a= model.score(X_test,y_test)
    
    print(f'The accuracy of our model for n_estimators={i} is {a}')

The accuracy of our model for n_estimators=10 is 0.872483161867991
The accuracy of our model for n_estimators=20 is 0.8894073494987998
The accuracy of our model for n_estimators=30 is 0.8704988900228864
The accuracy of our model for n_estimators=40 is 0.8753922015105602
The accuracy of our model for n_estimators=50 is 0.8566653455255623
The accuracy of our model for n_estimators=60 is 0.8792096780941421
The accuracy of our model for n_estimators=70 is 0.8774071314460709
The accuracy of our model for n_estimators=80 is 0.8945916381779627
The accuracy of our model for n_estimators=90 is 0.8730974033303098

In [ ]:
##2.2 Choosing the estimator for a Classification Problem